<template name="Home">
    <div class="billboard">

      <div class="row">
         <div class="col-sm-6">
             <img src="../Macbook-Flat-Mockup.png" class="img-responsive" width="1000px" alt="App Mockup">
         </div>

         <div class="col-sm-6">
          <h2>Need a budget? <br> Tired of spreedsheets <br> and sharing them?</h2>
          <h3 style="text-align:left">BUDGET WITH ME is a personal budget web app that allows you to organize your budget
            and expenses based on recurring income and/or bills. The best part: you are able to invite users to your account.
            If you have a family member or spouse who contributes to your household income and expenses, invite them to budget with you!</h3>
          <br>
          <h3>To get started, log in or register for a new account.</h3>
      </div>
    </div>
    </div>
</template>
